.Top {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.TopNumber {
  font-size: 42px;
  position: relative;
  bottom: 20px;
  font-weight: 600;
}

.TopSpan {
  font-size: 18px;
  position: relative;
  bottom: 35px;
}
.WeatherForcast {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}
.maxTemp {
  opacity: 0.7;
}

.bottomFooter {
  text-align: center;
}
.loading {
  text-align: center;
}
.precipitation {
  font-weight: 600;
}
.degFahrenheit:hover {
  color: blue;
  font-size: 25px;
}
#degCelcius:hover {
  color: blue;
  font-size: 25px;
}
